﻿@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">

    <div class="w3-content w3-section" style="">
            <img class="Slides w3-animate-top" src="~/Pic/Cover1.jpg" alt="Image 1" style="height:550px; width:1200px;">
            <img class="Slides w3-animate-bottom" src="~/Pic/cover2.jpg" alt="Image 2" style="height:550px; width:1200px;">
            <img class="Slides w3-animate-top" src="~/Pic/cover3.jpg" alt="Image 3" style="height:550px; width:1200px;">
            <img class="Slides w3-animate-bottom" src="~/Pic/cover4.jpg" alt="Image 4" style="height:550px; width:1200px;">

        </div>
    
</div>

<div class="row">
    <hr></hr>
    <h1>Bestsellers</h1>
    <hr />
    <div class="col-md-4">
        <img src="~/Pic/Ultimate.jpg" height="220" width="220">
        <h2>Ultimate</h2>
        <h4>Nat King Cole</h4>
        <p>3.699 RSD</p>
        <p><a class="btn btn-default" href="/Musics/Details/10">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Pic/ReMember.jpg" height="220" width="220">
        <h2>Re:member</h2>
        <h4>Ólafur Arnalds</h4>
        <p>3.099 RSD 2019</p>
        <p><a class="btn btn-default" href="/Musics/Details/11">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Pic/CelticWoman.jpg" height="220" width="220">
        <h2>Celtic Woman</h2>
        <h4>Celtic Woman</h4>
        <p>934 RSD</p>
        <p><a class="btn btn-default" href="/Musics/Details/12">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Pic/TheProdigalSon.jpg" height="220" width="220">
        <h2>The Prodigal Son</h2>
        <h4>Ry Cooder</h4>
        <p>2.499 RSD</p>
        <p><a class="btn btn-default" href="/Musics/Details/13">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Pic/Depeche_Mode_-_Speak_&_Spell.png" height="220" width="220">
        <h2>Speak & Spell</h2>
        <h4>Depeche Mode</h4>
        <p>1.699 RSD</p>
        <p><a class="btn btn-default" href="/Musics/Details/3">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Pic/AmazingGame.jpg" height="220" width="220">
        <h2>Amazing Game - Instrumental Music</h2>
        <h4>Paolo Conte</h4>
        <p>1.614 RSD</p>
        <p><a class="btn btn-default" href="/Musics/Details/14">More &raquo;</a></p>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/Slider.js"></script>
}