﻿
@using PagedList.Mvc
@model PagedList.IPagedList<CDShop.Models.Music>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Music list</title>
</head>
<body>

    <p></p>
    <div class="bestsellers">
        <h1>Bestsellers</h1>
        <hr />

        <div class="col-md-4">
            <img src="~/Pic/Ultimate.jpg" height="220" width="220">
            <h2>Ultimate</h2>
            <h4>Nat King Cole</h4>
            <p>3.699 RSD</p>
            <p><a class="btn btn-default" href="/Musics/Details/10">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Pic/ReMember.jpg" height="220" width="220">
            <h2>Re:member</h2>
            <h4>Ólafur Arnalds</h4>
            <p>3.099 RSD 2019</p>
            <p><a class="btn btn-default" href="/Musics/Details/11">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="~/Pic/CelticWoman.jpg" height="220" width="220">
            <h2>Celtic Woman</h2>
            <h4>Celtic Woman</h4>
            <p>934 RSD</p>
            <p><a class="btn btn-default" href="/Musics/Details/12">More &raquo;</a></p>
        </div>
    </div>
    <br></br>
    <p></p>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Musics", FormMethod.Get))
            {
                @Html.DropDownList("sortType", ViewBag.Sorting as SelectList, new { @class = "form-control col-md-6" })
                <div>
                    <input type="submit" value="Sort" class="btn btn-default btn-md" />
                </div>
            }
        </div>
    </div>
    @*<div class="col-md-12">
            <button class="btn btn-md btn-default" id="filter" type="button">
                <span class="glyphicon glyphicon-search"></span>
                Filter
            </button>
        </div>*@
    <p></p>




    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Musicstore.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Created)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Musicstore.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <center>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, pageNum => Url.Action("Index", new {
        Name = ViewBag.CurrentFilter.Name,
        Author = ViewBag.CurrentFilter.Author,
        Price = ViewBag.CurrentFilter.Price,
        pageNum, sortType =  ViewBag.CurrentSortType
    }))
    </center>
</body>
</html>
